<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<script type="text/javascript" charset="utf-8">
    function FUNALTERAR(Par1, Par2, Par3) {
        
        debugger;
        
        document.getElementById("CampoID").value = Par1;
        document.getElementById("CampoEmpresa").value = Par2;
        document.getElementById("CampoPais").value = Par3;
        $("#myModal").modal("show");
    }
    
    function FUNGRAVAR() {
        
        IWEDIT1.value = document.getElementById("CampoID").value;
        AddChangedControl('IWEDIT1');
        
        IWEDIT2.value = document.getElementById("CampoEmpresa").value;
        AddChangedControl('IWEDIT2');
        
        IWEDIT3.value = document.getElementById("CampoPais").value;
        AddChangedControl('IWEDIT3');
        
        IWBUTTON1.click();
        
    }
</script>
   
<body>

<div class="clearfix" style="display:none">
    
    {%IWEDIT1%}
    {%IWEDIT2%}
    {%IWEDIT3%}
    
    {%IWBUTTON1%}
    
    {%CLIENTDATASET1%}
    
</div>
    
<div class="jumbotron text-center">
  <h1>IntraWeb + Bootstrap + Javascript</h1>
  <p>Exercício Delphi RAD Studio</p> 
</div>
  
<div class="container">
  <h2>Hover Rows</h2>
  <p>The .table-hover class enables a hover state (grey background on mouse over) on table rows:</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>EMPRESA</th>
        <th>PAIS</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      
        {%BANANA%}
        
    </tbody>
  </table>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
<div class="modal-dialog">
  <div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Modal Heading</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <div class="form-group">
            <label for="CampoID">Identificador:</label>
            <input type="text" class="form-group" id="CampoID" name="CampoID">
        </div>
        <div class="form-group">
            <label for="CampoEmpresa">Empresa:</label>
            <input type="text" class="form-group" id="CampoEmpresa" name="CampoEmpresa">
        </div>
        <div class="form-group">
            <label for="CampoPais">Pais:</label>
            <input type="text" class="form-group" id="CampoPais" name="CampoPais">
        </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" onclick="javascript:FUNGRAVAR();">Gravar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>

  </div>
</div>
</div>
    
    <script>
        $(document).ready(function() {
            $('#myModal').on('hide.bs.modal', function() {
               location.reload(); 
            });
        });
    </script>
    
</body>
</html>
